{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% block title %}To-Do App{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
  <header>
    <nav class="navbar">
      <div class="container">
        <a href="{% url 'home' %}" class="logo">To-Do App</a>
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger" style="float:right">Log Out</button>
            </form>
        {% endif %}
      </div>
    </nav>
  </header>

  <main class="container">
    {% block content %}
    <!-- Page-specific content goes here -->
    {% endblock %}
  </main>

  <footer class="footer">
    <div class="container">
      <p>© 2025</p>
    </div>
  </footer>
</body>
</html>
