{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="tasks-page-header">
  <h1>My Tasks</h1>
  <button class="btn btn-primary add-task-btn" style="margin: auto; display: block;" onclick="location.href='{% url 'add' %}'">
    +
  </button>
  {% comment %} <button class="theme-toggle-btn" id="themeToggle" title="Toggle Light/Dark Mode"></button> {% endcomment %}
</div>

<div class="tasks-section">
  {% if todos_active %}
    <h2 class="section-title">Active</h2><br>
    <ul class="fancy-task-list">
      {% for todo in todos_active %}
        <li class="fancy-task-item" onclick="window.location='{% url 'update' todo.id %}'">
          <form method="POST" action="{% url 'toggle' todo.id %}" class="pretty-checkbox-form" onclick="event.stopPropagation();">
            {% csrf_token %}
            <input type="checkbox" name="completed" onchange="this.form.submit()" {% if todo.completed %}checked{% endif %} />
          </form>
          <div class="fancy-task-content">
            <span class="fancy-task-title">{{ todo.title }}</span>
            <span class="fancy-task-desc">{{ todo.description }}</span>
            <span class="fancy-task-meta">updated {{ todo.updated_at }}</span>
          </div>
          <form method="POST" action="{% url 'delete' todo.id %}" class="delete-icon-form" onclick="event.stopPropagation();">
            {% csrf_token %}
            <button type="submit" class="delete-icon-btn" title="Delete Task">
              <span class="material-icons">delete</span>
            </button>
          </form>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<div class="tasks-section">
  {% if todos_completed %}
    <h2 class="section-title">Completed</h2><br>
    <ul class="fancy-task-list completed">
      {% for todo in todos_completed %}
        <li class="fancy-task-item completed" >
          <form method="POST" action="{% url 'toggle' todo.id %}" class="pretty-checkbox-form" onclick="event.stopPropagation();">
            {% csrf_token %}
            <input type="checkbox" name="completed" onchange="this.form.submit()" {% if todo.completed %}checked{% endif %} />
          </form>
          <div class="fancy-task-content">
            <span class="fancy-task-title">{{ todo.title }}</span>
            <span class="fancy-task-desc">{{ todo.description }}</span>
            <span class="fancy-task-meta">updated {{ todo.updated_at }}</span>
          </div>
          {% comment %} <form method="POST" action="{% url 'delete' todo.id %}" class="delete-icon-form" onclick="event.stopPropagation();">
            {% csrf_token %}
            <button type="submit" class="delete-icon-btn" title="Delete Task">
              <span class="material-icons">delete</span>
            </button>
          </form> {% endcomment %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

{% endblock %}


