{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <h1>To-Do List</h1><br>

  <a href="{% url 'add' %}" class="btn btn-primary">Add New Task</a>

  {% if todos_active %}
    <ul class="task-list">
      {% for todo in todos_active %}
        <li class="task-item">
          <form method="POST" action="{% url 'toggle' todo.id %}" class="task-checkbox-form">
            {% csrf_token %}
            <input type="checkbox" name="completed" onchange="this.form.submit()" {% if todo.completed %}checked{% endif %}>
          </form>
          <span class="task-title {% if todo.completed %}completed{% endif %}">
            <a href="{% url 'update' todo.id %}" class="detail_link">
              {{ todo.title }} : 
              {{ todo.updated_at }} 
            </a>
            {% comment %} - Due: {{ todo.due_date|date:"M d, Y" }} {% endcomment %}
          </span>
          {% comment %} <a href="{% url 'update' todo.id %}" class="btn btn-secondary">Edit</a> {% endcomment %}
          <a href="{% url 'delete' todo.id %}" class="btn btn-danger">Delete</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p><br>No tasks yet! Add one above.</p>
  {% endif %} 
  
  {% if todos_completed %}
    <h2><br>Completed</h2>
    <ul class="task-list">
      {% for todo in todos_completed %}
        <li class="task-item">
          <form method="POST" action="{% url 'toggle' todo.id %}" class="task-checkbox-form">
            {% csrf_token %}
            <input type="checkbox" name="completed" onchange="this.form.submit()" {% if todo.completed %}checked{% endif %}>
          </form>
          <span class="task-title {% if todo.completed %}completed{% endif %}">
            {{ todo.title }} 
            {% comment %} - Due: {{ todo.due_date|date:"M d, Y" }} {% endcomment %}
          </span>
          {% comment %} <a href="{% url 'update' todo.id %}" class="btn btn-secondary">Edit</a> {% endcomment %}
          <a href="{% url 'delete' todo.id %}" class="btn btn-danger">Delete</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endblock %}


