{% comment %} {% load static %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h2>Welcome to the ToDo App</h2>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        {{form}}
        <button type="submit">Add</button>
    </form>
    <h3>To-Do List</h3>
    <ul>
        {% for todo in todos %}
            {% comment %} <li>{{ todo.title }}</li> {% endcomment %}
            <li>
                <form action="{% url 'update' todo.id %}" method="POST">
                    {% csrf_token %}
                    <input type="text" name="title" value="{{ todo.title }}">
                    <button type="submit">Update</button>
                </form>
                <form action="{% url 'delete' todo.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>