{% extends 'base.html' %}

{% block title %}Add Task{% endblock %}

{% block content %}
  <h1>{{headline}}</h1><br>

  <form method="POST" class="task-form">
    {% csrf_token %}
    <table>
      <tr>
        <td style="text-align:center">Title: </td>
        <td> {{form.title}}</td>
      </tr>
      <tr>
        <td style="vertical-align: top;">Description: </td>
        <td> {{form.description}}</td>
      </tr>
    </table>
    <br>
    <button type="submit" class="btn btn-primary">Save</button>
    <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
  </form>
{% endblock %}
